.signIn,
.timeimageIcon {
  position: relative;
  overflow: hidden;
}
.timeimageIcon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.signIn {
  background-color: var(--darkish-color-dark-bg);
  width: 1315px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 960px) {
  .timeimageIcon {
    flex: unset;
    align-self: stretch;
  }
  .signIn {
    flex-direction: column;
    height: auto;
  }
}
